<div id="practiceModal" class="modal fade" role="dialog">
          <div class="modal-dialog">
        
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">개인정보 수정하기</h4>
              </div>
              <div class="modal-body"> <!-- 지금 로그아웃이 안 돼서 그런데, 이거 회원가입 했을때랑 똑같은 정보들로 목차 만들어야 될듯. -->
                <p>이름</p>
                 <textarea class="form-control input-lg" autofocus="" placeholder="김예은"></textarea>
                 <br>
                 <p>생년월일</p>
                 <textarea class="form-control input-lg" autofocus="" placeholder="1996/03/23"></textarea>
                 <br>
                 <p>전화번호</p>
                 <textarea class="form-control input-lg" autofocus="" placeholder="0101010101"></textarea>
                 <br>
                 <p>이메일</p>
                 <textarea class="form-control input-lg" autofocus="" placeholder="gmail.com"></textarea>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div