<div class="inner">
  <div class="row">
    <div class="col">
      <h1>병원명</h1>
      <% @vets.each do |vet| %>
        <p><%= link_to vet.vtitle, vet %><span> <%= vet.address %></span> <span id="average_rating"></span></p>
      <% end %>
    </div>
  </div>
</div>