//************************************** show carousel 

.carouselsec {
  background-color: #ececec;
  position: center;
}

//show캐러샐 수정중...

#head {
 height: 300px;
  background-color: beige;
  // border-top: double 10px;
  // border-left: double 10px;
  // border-right: double 10px;
  // border-color: #153840;
  
  .practiceimg {
    height: 280px;
    padding: 0.5% ;
    overflow: hidden;
  
  }
  
  .carousel-item {
    width: 100%;
  }

#showCarousel {
  width: 100%;
 
  
  

  
.carousel-inner .carousel-item-right.active,
.carousel-inner .carousel-item-next {
  transform: translateX(33.3%);
}

.carousel-inner .carousel-item-left.active, 
.carousel-inner .carousel-item-prev {
  transform: translateX(-33.3%)
}
  
.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left{ 
  transform: translateX(0);
}

  
 
  
  
}
  

}  

  
.carousel-inner .carousel-item-right.active,
.carousel-inner .carousel-item-next {
  transform: translateX(33.33%);
}

.carousel-inner .carousel-item-left.active, 
.carousel-inner .carousel-item-prev {
  transform: translateX(-33.33%)
}
  
.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left{ 
  transform: translateX(0);
}

  
 



//************************************** show carousel  끝




//************************************** admin carousel

#adminCarousel {
 background-color: white;
 
.admincarouselimg {
  height: 200px;
  width: 200px;
  padding: 15px;
  background-color: bisque;
}

}

//************************************** admin carousel 끝





//************************************** modal-review carousel 


//************************************** modal-review carousel 끝









