//정리끝 ~ 들여쓰기 해야됨~

@import 'variables';


// body 배경

.showbody {
  background-color: beige;
}


.shownamebar {
  
  font-weight: bold;
  font-size: 1.2rem;
  
  
 .showusername {
      font-size: 1.4rem;
      color: $logo-color;
    }
}

// col 패딩 없애기용 설정
#showleft, #showright {
  min-height: 250px;
  padding-left: 0;
  padding-right: 0;
  background-color: white;
}

.showcontainer {
  width: 1100px;
  margin: auto;
  margin-top: 15px;
}

//**********carousel/head




 .hospitaltitle {
   
   font-size: 2.5rem;
    line-height: 4.5rem;
    font-weight: normal;
    width: 100%;
    height: 80px;
    background-color: white;
    padding-top: 20px;
    
    .vettitle, {
    text-align: center;
    border-bottom: dotted 5px;
    border-top: dotted 5px;
    border-color: #153840;
    height: 100%;
    width: 40%;
    margin: auto;
    }
      
  
   .score {
      color: #fac917;
      font-size: 1.8rem;//20px;
      }


  }



//**********************showleft

.heartbar {
    height: 100px;
    width: 100%;
    text-align: center;
    // display:flex;
    // flex-direction:row;
    // justify-content:center;
    display: block;
    text-align: center;
    background-color: white;
    padding: 1%;
    
    
   .fa-heart, .fa-heart-o {
     color: rosybrown;
     font-size: 4rem;
     cursor: pointer;
    }
  
   .follownumber { //이거 더 예쁘게 바꾸고싶은데.. 하트밑에오게...
     
     font-size: 2rem;
     color: grey;
     
    }
   }

#showleft {
//   overflow-y: scroll;

  

  .showhospitaltext {
  min-height : 50%;//260px;
  background-color: white;;
  padding: 3%;
  padding-top: 5%;
  // border-top: solid 1px;
  // border-color: $lightgrey;
  

      
  .hospitalinfo {
    
     
     
      .address, .telephone, .homepage, .amenities, .moreinfo, .pricetitle, .price {
     font-size: 1rem;
     line-height: 1.8rem;
      }
      
      .infolist {
        
        // .indexicon {
        //   padding-left: 10%;
        // }
      }

     
    }
  }
 
 

}


      .infolist , .pricelist {
      padding: 0;
      width: 100%;
     }
 
 
  .showmap {
  height: 250px;//480px;
  background-color: skyblue;
}    

//***********************showright

#showright {

 .showhospitaltext {
  min-height : 50%;//260px;
  background-color: white;;
  padding: 3%;
  padding-top: 5%;
  // border-top: solid 1px;
  // border-color: $lightgrey;   
 }
 
     
      .pricelist {
    
      // .pricetitle {
      //   border-bottom: solid 1px;
      //   border-color: $lightgrey;
      // } 밑줄 안넣는게 낫나...
    
    
       .price {
        text-align: right;
        line-height: 1.8rem;
      height: 20px;//20px; 
      text-align: center;
      background-color: $lightpink;
      border-radius: 10px;//10px;
      }
      
      .etc {
        border-left: dotted 1px;
        padding-left: 10px;
      }  
     }
    
 
}


.reviewfilters {
  //워 여기에 진짜 이상한 마진 1px정도 위아래로 붙어있는데 뭔지 모르겠다
    margin: 0;//10px;
    padding: 0.5%;
    line-height: 2rem;
    height: 40px;//40px;
    // background-color : white;
    border-bottom: solid 1px;
    border-top: solid 1px;
    border-color: $lightgrey;
    background-color: white;
    
    .rating {
      padding-left: 0;
    }
    
     div {
     display: inline;
     font-size: 1.2rem;//15px;
     line-height: 2rem; //마진때문에 조정
     
     }
   
    // .fa-angle-down {
    // font-size: 1.5rem; //20px
    // font-weight: bold;
    // }
     
     .addreview {
      cursor: pointer;
      margin-left: 40px;
   
    }  
   }
   
  .level-up {
      float: right;
      
    } 
   
 .reviewlist {
  height: 460px;//460px;
  display: block;
  overflow-y: scroll;
  background-color: white;
  
  .reviewnilbox {
    text-align: center;
    padding: 10%;
    height: 380px;
    background-color: white;
    // background-image: url(dtbackground2.png);
    // overflow-y :hidden;
   
    
   
    
    .reviewniltext {
      font-size: 1.5rem;
      color: grey ;
      
     .reviewvetname {
      color: $logo-color;
     } 
    
    }
  }
  
  .reviewbox {
    padding: 7px;//1% ;
    height: 75px;
    border-bottom: solid 1px;
    border-color: $lightgrey;

    .reviewdate {
      font-size: 1rem;//14px;
      color: grey;
      }
  
    span {
      font-size: 1rem;
      }
  
    .showbriefing {
      font-size: 1.2rem;
      }
  
    .fa-plus-circle {
      float: right; 
      color: #ececec;
      font-size: 2rem;
      cursor: pointer;
      }
    }
  }

//*******************modal

.modal-open {
    overflow: scroll;
}



//*********************

.practice {
  max-width: 1200px;
  margin:auto;
    
 .col-4 {    padding: 0;


.showbutton , .showbuttonm{
    padding-top: 3rem;
    // border-radius: 5px;
    text-align: center;
    font-size: 2rem;
    
    // height: 50px;
    height: 100px;
    // transform: skewX(-10deg);
    
}


.showbutton {
    background-color: #153840;
    color: bisque;
    // -webkit-transform: skew(20deg);
    // -moz-transform: skew(20deg);
    // -o-transform: skew(20deg);
   
}

.showbuttonm {
 color: #153840;
 background-color: bisque;   
// -webkit-transform: skew(20deg);
// -moz-transform: skew(20deg);
// -o-transform: skew(20deg);

    
}
}

}