@import 'variables';

//정리끝 들여쓰기하면됨~~~~~~~~~~~~~~//



//col padding 없애기용 설정

#indexleft, #indexright {
  padding-left: 0;
  padding-right: 0;
  height: 550px;
} 


//************************************indexleft

#indexleft {
  
  .searchbar {
  height : 20%;  //120px;
  background-color: blanchedalmond;
  padding: 4%;
  padding-top: 5%;
  
   #searchinput {
     padding-left: 0;
     
     .easy-autocomplete {
       width: 100%;
     }
     
     #q {
       width: 100%;
       height: 35px;
       border: solid 3px;
       border-color: #153840;
     }
   } //col 없애기용 
   
   .searchinput {
    height: 40px; 
    margin: 0;
    float: left;
    }
   
  .fa-search {
    font-size: 3rem;
    float: left;
    color: #153840;
    
    }
    
    .button {
      background : transparent;
      border: none;
    }
    
   .result {
    font-size: 1.1rem;//14px;
    font-weight: normal;
    line-height: 30px;
    color: #153840;
;
 
     .resultnum {
       color: rosybrown;
      }
   
 }


}
  
  .searchfilters {
  
    padding: 1%;
    height : 7%; //40px;
    background-color: white;
    margin: 0; 
  
   
 
    li { 
     display: inline;
     font-size: 1rem;//15px;
     line-height: 2.5rem;
     }
 
   
   .fa-angle-down {
     font-size: 1.2rem; //20px
     font-weight: bold;
     
     }
   }

  .hospitallist {
    height : 80%; //400px;
    display: block;
    background-color: white;
    overflow-y : scroll;
    padding: 0;
    margin: 0;

//색깔지정용 //
  .hospital1 {
    height : 33.3%; //160px;
    display: block;
    margin : 0;
    display: block;
    overflow: hidden;
    }
    
  .hospital1:nth-child(odd) {background: rgb(250,250,240)}
  .hospital1:nth-child(even) {background: white;}


//색깔지정용 끝//    

  .hospitalimg {
    width: 33%;
    height: 100%;
    padding: 1.7%;
    float: left;

    
    .hospitalimgcontent {
      height: 100%;
      width: 100%;
     }
   }

  .hospitaltext {
    width: 65%;
    height: 100%;
    margin-left: 0px;
    padding: 1.7%;
    float: left;
  
  .hospitaltitlebar {
      // margin-top: 0%;//15px;
      // font-size: 2rem;//25px;
      // font-weight: bold;
      height: 25%;
      margin-bottom: 3%;
      padding-bottom: 2%;
      border-bottom: solid 1px;
      border-color: #ececec;

   
      a {
        font-size: 1.7rem;
        font-weight: normal;
        line-height: 2.5rem;
        }
      }

  .hospitalinfo {
  
    .telephone , .time {
      color: #a9a9a9;
      font-size: 0.9rem;
    }
     
    .address {
      font-size: 1rem;
    }
    
    .indexline {
      height: 30px;
      font-size: 1rem;
      
      .indexicon {
      padding-left: 0; //col-3 padding 없애기 설정
     }
     
      .indexicontext {
      padding-left: 0; //col-9 padding 없애기 설정
      
      .amenities , .homepage {
       line-height: 1.8rem;
      }
     }
    }
   }
  }
   //hospiatalarrows는 arrows로 통일해서 coustom.scss에다 넣음
 }
}


//************************************indexright

#indexright {
  
  .indexmap {
  height : 100%;//560px;
  width: 100%;
  background-color: skyblue;
 }
 
 #map {
   height: 100%;
 }
}



   
  
  
