/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require easy-autocomplete
 *= require easy-autocomplete.themes
 *= require simple_calendar
 *= require datetimepicker
 */


.conversation {
  color: #7f7f7f;
  padding: 10px;
}

.conversation:hover, .conversation:focus {
  background-color: #F4F4F5;
}


html {
  font-size: 12px;
}

* {
  // line-height: 1.2;
  /*color: #1d1d1d;*/
  box-sizing: border-box; 
  margin: 0;   
  border-radius: 0;
  font-family: 'Jeju Gothic', sans-serif !important;
}

*:focus {
    outline: none;
}

.row {
  margin:0;
}
