// Place all the styles related to the examinations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.examination_section1 {
  padding-top: 7%;
}

.examination_section2 {
  padding-top: 3%;
  padding-bottom: 5%;
}